* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  background-color: lightblue;
  width: 50vw;
  padding: 1em;
  margin: 1em auto;
  transition: 0.5s ease-in-out;
  border-radius: 5px;
}
.main-heading {
  font-size: 1.5em;
  margin-bottom: 15px;
}
.main-paragraph {
  font-size: 1em;
}
.main:hover {
  background-color: lightcoral;
}

.main h1,
.main p,
.footer h1,
.footer p {
  letter-spacing: 1px;
}