* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  background-color: lightblue;
  width: 50vw;
  padding: 1em;
  margin: 1em auto;
  transition: 0.5s ease-in-out;
  border-radius: 5px;

  &-heading {
    font-size: 1.5em;
    margin-bottom: 15px;
  }

  &-paragraph {
    font-size: 1em;
  }

  // Pseudo class hover
  &:hover {
    background-color: lightcoral;
  }
}

.main,
.footer {
  h1,
  p {
    letter-spacing: 1px;
  }
}
